:root {
  --clr-text: #000;
  --clr-primery: #000;
  --clr-accent: #000;

  --ff-medium: 'GeneralSans-Medium' ;
  --ff-regular:'GeneralSans-Regular';
}

html {
  box-sizing: border-box;
  font-family: var(--ff-medium);
  color: var(--clr-text);
  font-size: 1.125rem;
}



.wrapper {}

.content {
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  z-index: 10;


	display: flex;
	flex-direction: row;
	place-content: space-between;
}

nav {
	text-align: right;
  padding
}

.hero-img {
  position: absolute;
  top: 8rem;
  left: 1.5rem;
} 

 .logo a{
  font-size: 1.5rem;
 }

.hero-img img {
  border-radius: 5px;
  max-width: 90lvw;
}

.project-toggle {
  cursor: pointer;
}

.project-list {
  max-height: 0;
  transition: max-height .4s;
  overflow: hidden;
}

.project-list.open {
  max-height: 70vh;
}

.contact {
  text-align: right;
  margin-top: 2rem;
}

p,
a {
	font-size: 1.2rem;
	line-height: 1.6rem;
	text-decoration: none;
	color: #000;
  transition: color 0.4s ease; 
}

nav a:hover {
  color: #888;
}

h2 {
	font-size: 1.5rem;
}

.hero-img div {
  position: absolute;
  opacity: 0%;
  transition: opacity 0.4s ease;
}

.hero-img .project.active {
  opacity: 100%
}

