html {
	background: #fff;
}

.wrapper {
}

.content {
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  z-index: 10;


	display: flex;
	flex-direction: row;
	place-content: space-between;
}

nav {
	text-align: right;
  padding
}

.hero-img {
  position: absolute;
  top: 8rem;
  left: 1.5rem;
} 

 .logo a{
  font-size: 1.5rem;
 }

.hero-img img {
  border-radius: 5px;
}

.project-toggle {
  cursor: pointer;
}

.project-list {
  max-height: 0;
  transition: max-height 0.4s ease;
  overflow: hidden;
}

.project-list.open {
  max-height: 50vh;
}

.contact {
  text-align: right;
  margin-top: 2rem;
}


body {
	font-family: "GeneralSans-Medium";
}

p,
a {
	font-size: 1.2rem;
	line-height: 1.6rem;
	text-decoration: none;
	color: #000;
  transition: color 0.4s ease; 
}

nav a:hover {
  color: #888;
}



h2 {
	font-size: 1.5rem;
}

.hero-img div {
  position: absolute;
  opacity: 0%;
  transition: opacity 0.4s ease;
}

.hero-img .project.active {
  opacity: 100%
}
