html {
	background: #fff;
}

.wrapper {
	padding: 1.5rem;
}

.content {

}

header {
  z-index: 50;
	display: flex;
	flex-direction: row;
	place-content: space-between;
}

header nav {
	text-align: right;
}

 .logo a{
  font-size: 1.5rem;
 }

.hero-img img {
  border-radius: 5px;
}

.project-toggle {
  cursor: pointer;
}

.project-list {
  max-height: 0;
  transition: max-height 0.4s ease;
  overflow: hidden;
}

.project-list.open {
  max-height: 50vh;
}

.contact {
  text-align: right;
  margin-top: 2rem;
}


body {
	font-family: "GeneralSans-Medium";
}

p,
a {
	font-size: 1.2rem;
	line-height: 1.6rem;
	text-decoration: none;
	color: #000;
  transition: color 0.4s ease; 
}

nav a:hover {
  color: #888;
}



h2 {
	font-size: 1.5rem;
}

.hero-img div {
  opacity: 0%;
  transition: opacity 0.4s ease;
}

.hero-img .project.active {
  opacity: 100%
}
